{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "consistent-return": "off",
    "quotes": [2, "single", { "avoidEscape": true }]
  }
}
